language: "it"
db:
  path: "config/bologna.pickle"
poll:
  question_message: "A chi vuoi far vincere la battaglia?!"
schedule:
  minutes_per_round: 1
  wait_for_poll: 14
telegram:
  chat_id_logging: 178108366
saving:
  dir: "temp"
  map_img: "map.png"
  db: "temp.pickle"
