language: "it"
db:
  path: "config/bologna.pickle"
schedule:
  production:
      start_time: "07:59"
      stop_time: "20:01"
      rounds_at_time: ["10:00", "12:00", "14:00", "16:00", "18:00", "20:00"]
      wait_for_poll: 119
  develop:
    start_time: "07:59"
    stop_time: "23:50"
    rounds_at_time: [":00", ":15", ":30", ":45"]
    wait_for_poll: 10
telegram:
  chat_id_logging: 904141865 #178108366
saving:
  dir: "temp"
  map_img: "map.png"
  db: "temp.pickle"
  saved_turn: "saved_turn.json"
  stats: "stats.json"
balance:
  threshold: 6
  low_b: 3

