language: "it"
db:
  path: "config/bologna.pickle"
schedule:
  minutes_per_round: 30
  wait_for_poll: 20
telegram:
  chat_id_logging: 178108366
saving:
  dir: "temp"
  map_img: "map.png"
  db: "temp.pickle"
